.maparea {
    position: absolute;
    width: 870px;
    height: 0px;
    min-height: 0px;
    transition: min-height 0.15s ease-in-out;
    margin-left: -176px;
}

.maparea.open {
    height: 200px;
    min-height: 200px;
}

#map {
    width: 870px;
    height: 200px;
}

.map-mode-indicator {
    padding: 6px 10px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 12px;
    border-radius: 4px;
    pointer-events: none; /* optional */
}
